* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 100px;
    background-color: #27617b;
    color: white;
}

main {
    flex: 1; /*body flex display */
    background-color: #0B132B;
    color: white;
}

footer {
    height: 150px;
    background-color: #1C2541;
    color: #3A506B;
}

.bottomLine {
    width: 60vw;
    height: 3px;
    background-color: #3A506B;
    border: none;
    border-radius: 3px;
    margin: 30px auto;
}

.guideLine {
    font-family: 'cr_regular';
    font-size: 10px;
    margin: 30px auto;
}