* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh; /* height 대신 min-height 권장 */
    background-color: aqua; /* 이게 안 보이면 연결 문제! */
    display: flex;
    flex-direction: column;
}

header {
    height: 100px;
    background-color: #3A506B;
    color: white;
}

main {
    flex: 1; /*body flex display */
    color: #0B132B;
}

footer {
    height: 200px;
    background-color: #1C2541;
    color: white;
}