* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 100px;
    background-color: #27617b;
    color: white;
}

main {
    flex: 1; /*body flex display */
    background-color: #0B132B;
    color: white;
}

footer {
    height: 150px;
    background-color: #1C2541;
    color: #3A506B;

    display: flex;
    align-items: center;
}

.bottomLine {
    width: 60vw;
    height: 3px;
    background-color: #0B132B;
    border: none;
    border-radius: 3px;
    margin: 30px auto 1px;
}

.guideLine {
    font-family: 'crRegular';
    font-size: clamp(10px, 2vw, 15px); /* 가변 길이 설정하는 clamp 함수 */
    text-align: center;
    margin: 5px;
}

.youtube {
    display: inline-block;
    margin: 5, 100;
    background-image: url('icon/icon-sns-youtube.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    width: clamp(24px, 4vw, 30px);
    height: clamp(24px, 4vw, 30px);
}