.btn {
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

.popupOverlay {
    display: none; 
    position: fixed;
    inset: 0 auto auto 0; /* 팝업 위치 설정 */
    width: 100vw;
    height: 100vw;
    z-index: 1000; /*맨 앞에서 표시 */

    background-color: #00000080; /* 뒤에 두 자리는 불투명도 (80이면 50%) */
}

#popupContent {
    text-align: center;
    width: clamp(250px, 90vw, 400px);
    padding: 20px;

    border-radius: 8px;

    box-shadow: 0 5px 15px #00000080;
    background-color: white;
}

.popupOverlay.active {
  display: flex; /* 보이게 하기 */
  justify-content: center;
  align-items: center;
}

#openBtn {
    position: absolute;
    inset: 70px 20px auto auto;
    padding: 10px 20px;

    border: none;
    border-radius: 12px;

    box-shadow: 0 0 0 0 #5BC0BE80;
    background-color: #5BC0BE;

    font-family: 'crRegular';
    font-size: clamp(10px, 2vw, 20px);
    color: #1C2541;
}

#openBtn:hover {
    animation: pulse 2s;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #5BC0BEff;
    }
    70% {
        box-shadow: 0 0 0 10px #5BC0BE00;
    }
    100% {
        box-shadow: 0 0 0 50px #5BC0BE00;
    }
}

#popupContainer {
    
}