.popupOverlay {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 배경을 반투명한 검정으로 */
    z-index: 1000;
}

#settingContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: clamp(250px, 90vw, 400px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.popupOverlay.active {
  display: flex; /* none to flex */
  justify-content: center;
  align-items: center;
}

#openSetting {
    background-color: #E73D06;
    box-shadow: 0 0 0 0 #FE8D3480;

    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    cursor: pointer;

    font-family: 'crRegular';
    font-size: clamp(10px, 2vw, 20px);
    color: #FE8D34;
}

#openSetting:hover {
    animation: pulse 2s;
}


@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #FE8D3480;
    }
    70% {
        box-shadow: 0 0 0 10px #FE8D3480;
    }
    100% {
        box-shadow: 0 0 0 50px #FE8D3480;
    }
}