@font-face {
    font-family: 'crBlack';
    src: url('CookieRun-Black.woff2') format('woff2'),
        url('CookieRun-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'crBold';
    src: url('CookieRun-Bold.woff2') format('woff2'),
        url('CookieRun-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'crRegular';
    src: url('CookieRun-Regular.woff2') format('woff2'),
        url('CookieRun-Regular.woff') format('woff');  
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.title {
    font-family: 'crBlack';
    font-size: clamp(20px, 4vw, 30px);
    text-align: left;
    margin: 1vw 10vw;
}

.guideLine {
    font-family: 'crRegular';
    font-size: clamp(10px, 2vw, 15px); /* 가변 길이 설정하는 clamp 함수 */
    text-align: center;
    margin: 5px;
}