@font-face {
    font-family: 'crBlack';
    src: url('font/CookieRun-Black.woff2') format('woff2'),
        url('font/CookieRun-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'crBold';
    src: url('font/CookieRun-Bold.woff2') format('woff2'),
        url('font/CookieRun-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'crRegular';
    src: url('font/CookieRun-Regular.woff2') format('woff2'),
        url('font/CookieRun-Regular.woff') format('woff');  
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

