@font-face {
    font-family: cr_regular;
    src: url('CookieRun Regular.ttf') format('truetype');
}

@font-face {
    font-family: cr_bold;
    src: url('CookieRun Bold.ttf') format('truetype');
}

@font-face {
    font-family: cr_black;
    src: url('CookieRun Black.ttf') format('truetype');
}